* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Rubik;
}
.navbars {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.navigations {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.shutter img {
  height: 40px;
}
.navigations img {
  height: 30px;
}
.navbar-personal {
  display: flex;
}
.navbar-personal ul {
  display: flex;
  flex-direction: column;

  margin: 40px;
  list-style-type: none;
  gap: 80px;
}
.navbar-personal img {
  height: 30px;
}
#mini-profile {
  height: 50px;
}
.box {
  font-family: Open Sans;
  border: 1px solid black;
  width: 80%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  background: #e0e2db;
}
.box img {
  height: 30px;
  padding: 10px;
}
.box h3 {
  padding: 10px;
}
.personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.box h3 {
  font-weight: normal;
  padding: 10px;
}
.profile-parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  align-items: center;
}

.personal-info {
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
}

.large-profile {
  background-color: #9cc4b2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.75); 
  -moz-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.large-profile img {
  height: 200px;
}
.camera img {
  height: 30px;
}
.personal-info img {
  padding: 10px;
}
.infos {
  display: flex;
  flex-direction: column;
  font-family: Fira Code;
  gap: 50px;
  align-items: center;
  cursor: pointer;
}
.info {
  display: flex;
}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infos input {
  padding: 10px;
  font-family: Fira Code;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}
.infos label {
  font-weight: bold;
  font-size: 15px;
}
.button {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.button img {
  height: 20px;
}
.upload {
  font-family: Fira Code;
  display: flex;
  align-items: center;
}
.upload img {
  height: 30px;
}

/* From Uiverse.io by adamgiebl */
button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  width: 80%;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
